@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
<div class="text-center">
    <h1 class="display-4">Bienvenue sur NextDev</h1>
    <p class="lead">Challenge hĂÂŠbergement .NET 9 Ă˘âŹâ 48 heures</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-4">
            <h3>Infrastructure</h3>
            <p>DNS, DHCP, Apache2 sur Ubuntu 26.04</p>
        </div>
        <div class="col-md-4">
            <h3>DĂÂŠveloppement</h3>
            <p>ASP.NET Core 9 : Razor Pages & Minimal API</p>
        </div>
        <div class="col-md-4">
            <h3>Base de donnĂÂŠes</h3>
            <p>SQLite pour la persistance des donnĂÂŠes</p>
        </div>
    </div>
</div>
